{{!-- handelbars (hbs) is a view engine of express --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <title>Student Ally-Admin Panel</title>
</head>
<body>
    {{!-- <button class="btn btn-success">Fanstastic</button> 
    use navbar.hbs file here in index file
    --}}
    {{>subnavbar}}
    
    

    <div class="container-fluid mt-5" id="courseid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                  {{!-- left side --}}
                <div class="row">
                    <div class="col-md-6 col-12 courses-text d-flex justify-content-center align-items-start flex-column"> 
                        
                        <h1>Student enrollment Panel</h1>
                        <p>manage student enrollment in the courses</p>
                        <a href="/adminStudents">
                        <button class="btn-style btn-primary">Enrol Students</button>
                        </a>
                </div>
            
                {{!-- right side 
                    order-1 and order-md-0 because image should be above
                --}}
                
                    <div class="col-md-6 col-12 courses-text d-flex justify-content-center align-items-end flex-column"> 
                        
                        <h1>Modify Course Directory</h1>
                        <p>Add and design the courses</p>
                        <a href="/adminCourses">
                        <button class="btn-style btn-primary">courses</button>
                        </a>
                </div>
            </div>
        </div>
    </div>
    
    
    

    
        {{!-- including jquery and bootstrap js here in this index.hbs file! --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>