<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        #box-cent{
            position: absolute;
            top:50%;
            left:50%;
            
        }
        /*#boxed{
            border: 1px solid magenta;
        }*/
        .link_button{
            background-color: #fd5c63;
            color: lavenderblush;
            padding: 20px 40px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 30%;
            margin-right: 25%;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            cursor:pointer;
            display: inline-block;
            box-sizing: border-box;
            font-size: 18px;
            
            
            
        }
        .link_button:hover{
            background-color: #f3525a;
            color:black;
            font-weight: 800;
        }
        
        .container{
            padding: 20px;
            
            border-color: black;
            border: solid 2px;
        }
        
    </style>
    </head>
<body >

    {{>subnavbar}}
<script>
function showStudent(){
document.getElementById('student').style.display = "block";
}
function hideStudent(){
document.getElementById('student').style.display = "none";
}
function showAdmin(){
document.getElementById('admin').style.display = "block";
}
function hideAdmin(){
document.getElementById('admin').style.display = "none";
}
</script>
<div class="container-fluid mt-5 contact-style" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" >
            {{!-- {{#if err }}

            <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
             The user does not exist. Please check your entered email and password!
            </div>
              {{/if}}  --}}
                <h1 class="text-center sub-heading">Login to your account</h1>
                <div class="row">
                <div class="col-md-6 col-12 mx-auto" id="boxed">
                
                <div class="container">
                <div>
                <a  href="/studentlogin" class="link_button" >Login as a student</a>
                </div>
                
                <div >
                <a  href="/adminlogin" class="link_button">Login as an admin</a>
                </div>
                </div>
                {{!-- <input type="button" onclick="showStudent()" value="Login as a student"></button>
                <input type="button" onclick="showAdmin()" value="Login as an admin"></button> --}}
                </div>
                </div>
                {{!-- <div class="row" >
                    <div class="col-md-6 col-12 mx-auto">
                        
                        <form action="/login" method="POST" id="student" style="display: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter your Email" name="useremail">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputMessage">Password</label>
                            <input type="password" class="form-control" id="exampleInputName"
                            placeholder="Enter your Password" name="password">

                        
                        </div>
                        <button type="submit" class="btn-style btn-primary">Login</button>
                        </form>
                        </div>
                        </div>
                        <div class="row" >
                    <div class="col-md-6 col-12 mx-auto">
                        
                        <form action="/login" method="POST" id="admin" style="display: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter your Email" name="useremail">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputMessage">Password</label>
                            <input type="password" class="form-control" id="exampleInputName"
                            placeholder="Enter your Password" name="password">

                        
                        </div>
                        <button type="submit" class="btn-style btn-primary">Login</button>
                        </form>
                        </div>  
                    </div>   --}}
                </div>
                </div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
{{!-- <meta name="google-signin-client_id" content="1081381899023-ebegu9pp0gecshuqp1tstp3f55sr0i8m.apps.googleusercontent.com">
                        
                        <body>
                        <div id="my-signin2"></div>
                        <script>
                        function onSuccess(googleUser) {
                        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                        }
                        function onFailure(error) {
                        console.log(error);
                        }
                        function renderButton() {
                        gapi.signin2.render('my-signin2', {
                            'scope': 'profile email',
                            'width': 240,
                            'height': 50,
                            'longtitle': true,
                            'theme': 'dark',
                            'onsuccess': onSuccess,
                            'onfailure': onFailure
                        });
                        }
                    </script> 

                    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
                    </body> --}}