<div class="container-fluid mt-5" id="courseid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                  {{!-- left side --}}
                <div class="row">
                    <div class="col-md-6 col-12 courses-text ">
                        <figure>
                            <img src="images/mycourse1.svg" alt="to-do-section">
                        </figure>
                     </div>
            
                {{!-- right side 
                    order-1 and order-md-0 because image should be above
                --}}
                
                    <div class="col-md-6 col-12 courses-text d-flex justify-content-center align-items-end flex-column"> 
                        
                        <h1>Keep track of your progress</h1>
                        <p>Head to your <span class="bold-style">Course directory</span> know all your courses a little more,<br> track your credits and much more!</p>
                        <a href="/course">
                        <button class="btn-style btn-primary">My courses</button>
                        </a>
                </div>
            </div>
        </div>
    </div>
    