<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.5789070015585!2d72.55393101455545!3d23.039228584944674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848d5f86040f%3A0x7a0cc8b624851642!2sAhmedabad%20University!5e0!3m2!1sen!2sin!4v1625942185362!5m2!1sen!2sin"
     width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>