<div class="container-fluid mt-5 about-style">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">An ATS complaint resume for you</h1>
                <h1 class="text-center sub-heading">Build a resume that will make you stand out of the crowd</h1>
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <figure>
                            <img src="images/myresume.svg" alt="my-resume-section">
                        </figure>
                        <a href="/about">
                        <button class="btn-style btn-primary">Create your resume</button>
                        </a>
                </div>
                    
            </div>
        </div>
    </div>
    