<div class="container-fluid mt-5 about-style">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading mt-5">Get in touch with us</h1>  
               
                <div class="row">
                
                    <div class="col-md-6">
                        <div class="box">
                            
                            <div class="our-services settings">
                               
                                <a href="/about" style="text-decoration:none;">
                                <h1>About Us</h1>
                                <p>Get to know us better</p>
                                </a>
                            </div>
                    </div>
                    
                </div>
            
            
                <div class="col-md-6">
                        <div class="box">
                            <div class="our-services settings">
                               
                                <a href="/contact" style="text-decoration:none;">
                                <h1>Contact Us</h1>
                                <p>Have any questions? We are here to help!</p>
                                </a>
                            </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div> 