<div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- left side --}}
                <div class="row">
                    <div class="col-md-6 col-12 task-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>Manage and organize all your tasks at one place</h1>
                        <p>Be more efficient and productive with our <span class="bold-style">to-do list manager!</span></p>
                        <a href="/task">
                        <button class="btn-style btn-primary">Start Now</button>
                        </a>
                     </div>
            
                {{!-- right side 
                    order-1 and order-md-0 because image should be above
                --}}
                
                    <div class="col-md-6 col-12 task-text order-md-1 order-0 "> 
                        <figure>
                            <img src="images/to-do-list.svg" alt="to-do-section">
                        </figure>
                </div>
            </div>
        </div>
    </div>